<p>Olá <strong>{{username}}</strong>,</p>

<p>Por favor, verifique seu e-mail clicando no link abaixo:</p>

<p>
  <a href="http://localhost:3000/auth/verify-email?token={{token}}">
    Verificar E-mail
  </a>
</p>

<p>Se você não solicitou este e-mail, ignore esta mensagem.</p>